/*********** FONTS USED ****************
font-family: 'Dancing Script', cursive;
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Quicksand', sans-serif;
 ***************************************/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ddd;
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 250%;
  font-weight: bolder;
  color: #333;
  background: #ddd;
  text-align: center;
  margin: 0 0;
  /* padding-top: 2%; */
}

h2 {
  font-family: 'Quicksand', sans-serif;
  border: 1px solid #333;
  background: #ddd;
  border-bottom: 0px;
  font-size: 225%;
  font-weight: bolder;
  color: #444;
  text-align: center;
  margin: 15px 0 0 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 100rem;
  background-color: #eee;
}

.flexColumns {
  border: 1px solid #333;
  border-top: 0px;
  background: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
}


@media screen and (max-width: 64rem){
  .card-wrapper{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .card-wrapper{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .card-wrapper{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}



